:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 127px;
  width: 125px;
}

.image-cursor:hover {
  background-image: url('/public/select.png');
  background-blend-mode: color;
  animation: select 0.25s steps(1) infinite alternate;
  background-position-x: -4px;
}

.image-cursor {
  position: absolute;
  background-size: 135px;
  height: 127px;
  width: 128px;
  image-rendering: pixelated;
  margin-left: 12px;
}

@keyframes select {
  0% {
    background-position-y: 268px;
  }
  33% {
    background-position-y: 133px;
  }
  66% {
    background-position-y: -5px;
  }
}

.container {
  background-image: url('/box.png');
  background-size: contain;
  image-rendering: pixelated;

  padding: 30px 29px 29px 26px;
  box-sizing: border-box;

  height: 600px;
  width: 624px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 18px 10px;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .'
    'text text text text';
  border: 1px solid purple;
}

.text {
  grid-area: text;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  height: 20px;
}

.counter {
  margin: 14px 20px;
  background-image: url('/numbers.png');
  --counter-width: 28px;
  --counter-height: 23px;
  --scale-factor: 3;
  background-size: calc(var(--counter-width) * 24)
    calc(var(--counter-height) * var(--scale-factor));
  width: calc(var(--counter-width) * var(--scale-factor));
  height: calc(var(--counter-height) * var(--scale-factor));
}

.Menu {
  background-image: url('/bg1.png');
  background-size: contain;
  image-rendering: pixelated;

  width: 1152px;
  height: 624px;
  position: relative;
}

.Weapons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;

  height: 240px;
  gap: 0 48px;

  top: 96px;
  left: 48px;
}

.Weapon {
  background-image: url('/powers.png');
  background-size: 200% 1000%;
  image-rendering: pixelated;

  width: 264px;
  height: 60px;

  cursor: pointer;
}

.Weapon:hover {
  background-position-x: 0px !important;
}

.Hearts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;

  width: 240px;
  gap: 8px;

  top: 400px;
  left: 220px;
}

.Heart {
  background-image: url('/HT.png');
  background-size: 500% 100%;
  image-rendering: pixelated;
  background-repeat: no-repeat;

  animation: Heart 0.4s steps(1);
  background-position-x: -51px;

  width: 51px;
  height: 51px;
  cursor: pointer;
}

.Heart-inactive {
  animation: 0;
  background-position-x: 0px;
}

@keyframes Heart {
  0% {
    background-position-x: -51px;
  }
  25% {
    background-position-x: -102px;
    background-position-y: -2px;
  }
  50% {
    background-position-x: -153px;
    background-position-y: -4px;
  }
  75% {
    background-position-x: -204px;
    background-position-y: -2px;
  }
  100% {
    background-position-x: -255px;
  }
}

.BossTitle {
  background-image: url('/bosses.png');
  background-size: 100% 800%;
  image-rendering: pixelated;
  background-repeat: no-repeat;

  width: 207px;
  height: 48px;

  position: absolute;
  top: 520px;
  left: 230px;
}

.Subs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;

  width: 130px;
  gap: 16px;

  top: 400px;
  left: 45px;
}

.SubTank {
  background-image: url('/ST.png');
  background-size: 1600% 100%;
  image-rendering: pixelated;
  background-repeat: no-repeat;

  animation: Sub 0.4s steps(14);
  background-position-x: -810px;

  width: 54px;
  height: 54px;
  cursor: pointer;
}

@keyframes Sub {
  0% {
    background-position-x: -54px;
  }
  100% {
    background-position-x: -810px;
  }
}

.ST-inactive {
  animation: 0;
  background-position-x: 0px;
}

.X-root {
  position: absolute;

  height: 102px;
  width: 90px;
  top: 430px;
  left: 525px;
}

.X-base {
  background-image: url('/X.png');
  background-size: 1900% 600%;
  image-rendering: pixelated;

  height: 102px;
  width: 90px;
}

.X-large-root {
  position: absolute;

  height: 546px;
  width: 336px;
  top: 40px;
  left: 670px;
}

.X-large-base {
  background-image: url('/XLarge.png');
  background-size: 900% 224%;
  image-rendering: pixelated;

  height: 546px;
  width: 336px;
}
